// Browsehappy - Alert Message for IE8 Users that their software is not supported
	@mixin browsehappy {
		position: relative;
		background: red;
		color: white;
		padding: 40px;
		font-size: 18px;
		text-align: center;
		border: 10px solid darken(red, 10%);
		
		a {
			color: white;
			text-decoration: underline;
		}	
	}

// Rule Definition for Placeholder Text
 	@mixin placeholder {
 		::-webkit-input-placeholder {@content}
		:-moz-placeholder           {@content}
		::-moz-placeholder          {@content}
		:-ms-input-placeholder      {@content} 
		.placeholder 				{@content} 
 	} 


// Negate Chrome's shitty yellow autofill background
	@-webkit-keyframes autofill {
	    to {
	        // color: #666;
	        background: transparent;
	    }
	}

	input:-webkit-autofill {
	    -webkit-animation-name: autofill;
	    -webkit-animation-fill-mode: both;
	}