/* ==========================================================================
   COLOUR SWATCHES - Remove once colour pallette is confirmed
   ========================================================================== */

ul#swatches-ul {
	text-align: center;

	li {
		position: relative;
		display: inline-block;
		height: 80px;
		width: 80px;
		margin: 20px 10px;
		text-align: center;

		&#color1{background-color: $color1;}
		&#color2{background-color: $color2;}
		&#color3{background-color: $color3;}
		&#color4{background-color: $color4;}
		&#color5{background-color: $color5;}

		&#tone1{background-color: $white;}
		&#tone2{background-color: $smoke;}
		&#tone3{background-color: $grey;}
		&#tone4{background-color: $charcoal;}
		&#tone5{background-color: $black;}

		&#gradient1{width: 500px; @include gradient-bg($color1, $color3, $color5);}

		span {
			position: absolute;
			display: inline-block;
			top: -20px;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}
}	