@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot?v=4.1.0');
  src: url('fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), 
  	   url('fontawesome-webfont.woff?v=4.1.0') format('woff'), 
  	   url('fontawesome-webfont.ttf?v=4.1.0') format('truetype'), 
  	   url('fontawesome-webfont.svg?v=4.1.0#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
	font-family:"Ionicons";
	src:url("ionicons.eot?v=2.0.0");
	src:url("ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),
		url("ionicons.ttf?v=2.0.0") format("truetype"),
		url("ionicons.woff?v=2.0.0") format("woff"),
		url("ionicons.svg?v=2.0.0#Ionicons") format("svg");
	font-weight:normal;
	font-style:normal
}